<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<style type="text/css">
    .table-responsive{
        width: 100% !important;
    }

    .table {
        border: 1px solid white;
        width: 15% !important; /*Importante manter o !important rs */
        margin: auto;
        font-family:courier;
    }

    .table-status {
        margin-top: 250px;
    }
</style>
<body bgcolor="black">

<div class="container">
    <div class="table-responsive">
        <table class="table table-status">
            <tr>
                <td align="center"><b><a href=""> Já Tenho Cadastro </a></b></td>
            </tr>
            <tr>
                <td align="center"><b><a href="/createuser"> Criar Cadastro</a></b></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>